header {
    width: 100%;
    height: 320px;
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        height: 260px;
    }

    .container {
        width: 100%;
        max-width: 1060px;
        height: 100%;
        margin: 0 auto;
        padding-top: 56px;

        @media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
            padding: 56px 20px 0;
            box-sizing: border-box;
        }

        .menu {
            width: auto;
            float: right;

            @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
                display: none;
            }

            ul li {
                display: inline-block;
                padding: 0 5px;
                text-transform: uppercase;
                font-size: 14px;
                font-family: $fontlight;

                a {
                    padding-bottom: 2px;
                    color: #b0b0b0;
                    text-decoration: none;
                    position: relative;
                    -webkit-transition: all 0.1s ease-in-out 0s;
                    transition: all 0.1s ease-in-out 0s;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: #eb3f44;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.2s ease-in-out 0s;
                        transition: all 0.2s ease-in-out 0s;
                    }

                    &:hover {
                        color: #d2d2d2;

                        &:before {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

        h1 {
            margin-top: 80px;
            font-size: 50px;
            font-family: $fontsemibold;
            color: #eb3f44;

            @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                margin-top: 10px;
                font-size: 35px;
                text-align: center;
            }

            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                margin-top: 30px;
                font-size: 40px;
            }
        }

        h2 {
            margin: 4px 0 0 3px;
            font-size: 18px;
            font-family: $fontsemibold;
            color: #b0b0b0;

            @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                text-align: center;
            }
        }
    }
}