.skills {
    width: 100%;
    height: auto;
    background: #fff;
    
    &__content {
        width: 100%;
        max-width: 1060px;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;

        @media screen and (min-width: $screen-sm-min ) and (max-width: $screen-sm-max ) {
            padding: 25px 20px 15px;
            box-sizing: border-box;
        }

        @media screen and (min-width: $screen-md-min ) and (max-width: $screen-lg-max ) {
            padding: 50px 20px 15px;
            box-sizing: border-box;
        }

        h3 {
            margin-bottom: 40px;
            text-align: center;
            color: #3f3f3f;
            font-family: $fontbold;
            font-size: 28px;

            @media screen and (min-width: $screen-sm-min ) and (max-width: $screen-sm-max ) {
                font-size: 24px;
            }
        }
        
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                width: 190px;
                height: 70px;
                margin: 0 0 20px 0;
                border: 1px solid $color-primary;
                display: flex;
                align-items: center;
                justify-content: center;
                @include transition(0.3s);

                @media screen and (min-width: $screen-sm-min ) and (max-width: $screen-sm-max ) {
                    width: 47%;
                }

                @media screen and (min-width: $screen-md-min ) and (max-width: $screen-md-max ) {
                    width: 31%;
                }

                &:hover {
                    background: $color-primary;

                    span {
                        color: #fff;
                    }
                }

                span {
                    display: block;
                    color: $color-primary;
                    font-family: $fontbold;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: center;
                    line-height: 24px;

                    @media screen and (min-width: $screen-sm-min ) and (max-width: $screen-sm-max ) {
                        font-size: 16px;
                    }

                    @media screen and (min-width: $screen-md-min ) and (max-width: $screen-md-max ) {
                        font-size: 18px;
                    }
                }
            }
        } 
    }
}